body
{
overflow:hidden;
margin:0px;
font-family:myriad pro;
padding:0px;

}
canvas{
z-index:-1;
position:fixed;
left:0px;
top:0px;
}
.center
{
margin-left:auto;
margin-right:auto;
}
#w_header
{
width:100%;

background:url('../img/strip.png');
}
#header
{
width:1366px;
height:100px;

}
#w_khana
{
margin-top:-60px;
width:100%;

}
#khana
{
padding-left:380px;
padding-top:20px;
width:1000px;
height:160px;

}
#w_name
{
width:100%;

}
#name
{
padding-left:320px;
width:1000px;
height:160px;
/* background:black; */
}

#w_nav
{
padding-left:-10px;
margin-top:60px;
width:100%;

}
#nav
{
width:800px;
height:120px;

}
#navigation
{
margin:0px;
list-style:none;
}
#navigation a
{
width:95px;
height:95px;
display:block; 
background:black; 
float:left;
border-radius:50%;
text-align:center;
text-decoration:none;
color:white;
border:1px solid white 0;
margin:15px;
opacity:0.6;
}
#navigation a:hover
{
border:1px solid white;
}
#navigation p
{
font-size:20px;
margin-top:40px;
}
#w_bar
{
width:100%;
height:100px;

overflow:hidden;
position:fixed;
bottom:0px;
}
#bar
{
width:1000px;
height:100px;
background:yellow;
}

#w_footer
{

width:100%;
position:fixed;
bottom:-12px;
left:0px; 

}
#footer
{

padding-top:10px;
text-align:right;
width:100%;
height:40px;
background:black;
}
#footer p
{

float:left;
width:auto;
height:20px;

}
#footer a
{
margin-right:10px;
color:white;
text-decoration:none;
}
#footer a:hover{
color:grey;
}
/*BAR CSS*/
#cont{
/* 
position:fixed;
top:85%;
left:0; */
width:100%;
height:300px;

}
#ind{
position: relative;
margin-top:20px;
margin-left:10px;
width:6px;
height:200px;
float:left;
-webkit-transition: all 0.15s ease-in-out;
	-moz-transition: all 0.15s ease-in-out;
	-o-transition: all 0.15s ease-in-out;
	transition: all 0.15s ease-in-out;
	
}
#ind:hover{
	transform: translat(0px,-150px);
	-webkit-transform: translate(0px,-150px);
	-o-transform:  translate(0px,-150px); 
	-moz-transform:  translate(0px,-150px);
}
/* Social*/
.social{
position:relative;
top:70px;
}
.fbl{
background-color:black;
position:absolute;
top:10px;
left:50px;
width:3px;
height:400px;
}
.fblo{

position:absolute;
top:407px;
left:33px;
width:30px;
height:30px;
border-color:black;
border-width:3px;
border-style:solid;
}
.twl{
background-color:black;
position:absolute;
top:10px;
left:100px;
width:3px;
height:350px;
}
.twlo{
position:absolute;
top:360px;
left:106px;
width:30px;
height:30px;
transform:rotate(120deg);
}
/*div-load*/
.eve{
display:none;
z-index:1;
overflow:auto;
position:fixed;
left:240px;
top:130px;
height:450px;
width:1000px;
}
.box{
z-index:1;
overflow:auto;
display:none;
border-bottom-color:black;
border-bottom-style:solid;
border-bottom-width:2px;
position:fixed;
top:20%;
left:150px;
height:450px;
width:1080px;
}
.bg{
position:fixed;
background-color:black;
opacity:0.8;
height:432px;
width:1080px;

}
.ash{
overflow:none;
float:left;
margin:20px;	
position:absolute;
top:0px;
left:15px;

}
.clo{
z-index:1;
color:white;
position:fixed;
top:138px;
left:1194px;
}
#counter{
position:relative;
top:-23px;
left:-91%;
}
.timer{
position:fixed;
left:80%;
top:100px;
}
.pics{
float:left;
width:4500px;
margin:50px;
}
.pics-img{
height:400px;
}
